* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT */

.container {
  margin: auto;
  padding: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.table {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  height: 100%;

}

.game-row {
  display: flex;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  border: 1px solid blue;
  cursor: pointer;
  background-color: white;
}

.slot {
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  width: calc(100% / 11);
  text-align: center;
  border: 2px solid blue;
}

.title {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  color: white;
}

.counter {
  font-size: 70px;
  color: black;
  background-color: white;
  height: 80px;
  text-align: center;
  border: 1px solid blue;
}